@model MvcOnlineTicariOtomasyon.Models.Classes.Current 
@{
    ViewBag.Title = "AddCurrent";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>AddCurrent</h2>
<div class="container" style="margin-left:10px;">
    <h2>Yeni Cari Sayfası</h2>
    <br />
    <form class="form-group" method="post">
        @Html.Label("Cari Adı")
        @Html.TextAreaFor(x => x.CurrentName, new { @class = "form-control" })
        <br />
        @Html.Label("Cari Soyadı")
        @Html.TextAreaFor(x => x.CurrentLastName, new { @class = "form-control" })
        <br />
        @Html.Label("Cari Şehir")
        @Html.TextAreaFor(x => x.CurrentCity, new { @class = "form-control" })
        <br />
        @Html.Label("Cari Mail")
        @Html.TextAreaFor(x => x.CurrentMail, new { @class = "form-control" })
        <br />
        <button class="btn btn-info">Kaydet</button>
    </form>
</div>
