@using MvcOnlineTicariOtomasyon.Models.Classes
@model List<SalesMovement>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br/>
<table class="table table-bordered" id="tbl1" style="margin-top:20px; margin-left:20px;">
    <thead>
        <tr>
            <th>Id</th>
            <th>Ürün</th>
            <th>Cari</th>
            <th>Personel</th>
            <th>Adet</th>
            <th>Fiyat</th>
            <th>Toplam</th>
            <th>Tarih</th>
            <th>Güncelle</th>
            <th>Detaylar</th>
        </tr>
    </thead>
    @foreach (var salesMovement in Model)
    {
        <tr>
            <td> @salesMovement.SaleId</td>
            <td> @salesMovement.Product.ProductName</td>
            <td> @salesMovement.Current.CurrentName</td>
            <td> @salesMovement.Staff.StaffName @salesMovement.Staff.StaffLastName</td>
            <td> @salesMovement.Piece</td>
            <td> @salesMovement.Price</td>
            <td> @salesMovement.TotalAmount</td>
            <td> @salesMovement.Date</td>
            <td> <a href="/Sale/GetSale/@salesMovement.SaleId" class="btn btn-warning">Güncelle</a></td>
            <td> <a href="/Sale/SaleDetail/@salesMovement.StaffId" class="btn btn-success"> Detaylar</a></td>

        </tr>
    }
</table>
<a href="/Sale/NewSale" class="btn btn-primary">Yeni Satış Yap</a>



<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>


<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>

<script>
    $('#tbl1').dataTable({});
</script>

