@using MvcOnlineTicariOtomasyon.Models.Classes
@model List<SalesMovement>
@{
    ViewBag.Title = "SaleDetail";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Satış Detayı</h2>
<br>

<table class="table table-condensed">
    <tr>
        <th>Satış Id</th>
        <th>Ürün</th>
        <th>Cari</th>
        <th>Personel</th>
        <th>Fiyat</th>
        <th>Adet</th>
        <th>Toplam</th>
        <th>Tarih</th>        
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.SaleId</td>
            <td>@item.Product.ProductName</td>
            <td>@item.Current.CurrentName @item.Current.CurrentLastName</td>
            <td>@item.Staff.StaffName @item.Staff.StaffLastName</td>
            <td>@item.Price</td>
            <td>@item.Price</td>
            <td>@item.TotalAmount</td>
            <td>@item.Date</td>            
        </tr>
    }
</table>
<button class="btn btn-info"> Yazdır</button>

